#drop_zone {
	border: 2px dashed #bbb;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	color: #bbb;
}
#drop_zone>#files{
	display:none;
}
#previewArea:before{
	width:512px;
	height:512px;
	padding:0;
	margin:0;
	border:none;
	display:inline-block;
	position:relative;
	content:'';
}
#previewArea>canvas{
	max-width:512px;
	max-height:512px;
	position:absolute;
	top:0;
	left:0;
}
#previewArea.hideHeightMap>#highmap{
	display:none;
}
#previewArea.hideTexture>#texture{
	display:none;
}
#previewArea.hideWater>#water{
	display:none;
}
#previewArea.hideCliff>#cliff{
	display:none;
}
#previewArea.hideObjects>#objects{
	display:none;
}
#previewArea.hideStartPos>#startpos{
	display:none;
}


#previewArea>#control{
	/*position:absolute;
	bottom: -20px;
	height:20px;*/
}
#previewArea>#control>button .glyphicon.glyphicon-eye-open{
	display: inline-block;
}
#previewArea>#control>button .glyphicon.glyphicon-eye-close{
	display: none;
}

#previewArea.hideHeightMap>#control>button.hideHeightMap .glyphicon.glyphicon-eye-close,
#previewArea.hideTexture>#control>button.hideTexture .glyphicon.glyphicon-eye-close,
#previewArea.hideWater>#control>button.hideWater .glyphicon.glyphicon-eye-close,
#previewArea.hideCliff>#control>button.hideCliff .glyphicon.glyphicon-eye-close,
#previewArea.hideObjects>#control>button.hideObjects .glyphicon.glyphicon-eye-close,
#previewArea.hideStartPos>#control>button.hideStartPos .glyphicon.glyphicon-eye-close{
	display: inline-block;
}
#previewArea.hideHeightMap>#control>button.hideHeightMap .glyphicon.glyphicon-eye-open,
#previewArea.hideTexture>#control>button.hideTexture .glyphicon.glyphicon-eye-open,
#previewArea.hideWater>#control>button.hideWater .glyphicon.glyphicon-eye-open,
#previewArea.hideCliff>#control>button.hideCliff .glyphicon.glyphicon-eye-open,
#previewArea.hideObjects>#control>button.hideObjects .glyphicon.glyphicon-eye-open,
#previewArea.hideStartPos>#control>button.hideStartPos .glyphicon.glyphicon-eye-open{
	display: none;
}
#startLocation-field .playerTag{
	background:#cdcdcd;
}